{{ define "main" }}
<p class="lede">Hi! – and welcome to my website.</p>

<p> My name is Tór Marni and I am a PhD candidate in International Politics at the University of the Faroe Islands, where I do research on foreign, security, and defence policy in the North Atlantic and Arctic region.</p>

<p>I was born and raised in Tórshavn. I hold a master's degree in political philosophy and Russian, which I obtained at the universities in Aalborg, Copenhagen and Odense (University of Southern Denmark), as well as in Narva, Estonia.</p>

<p>I currently live in Tórshavn together with Cristina (my sweetheart) and Biscotto, our two-year-old border collie.</p>

<p>I also teach an MA-level course on small states and international relations, and I am affiliated with the Faroese Centre for International Affairs (FIA).</p>

<p>From time to time, I will publish various texts – primarily longer pieces on topics that, at the time of writing, have captured my interest or that I am working on. I will probably write about political theory, political philosophy, international relations and politics, Russian and Eastern European affairs, as well as occasional commentary on current events in Faroese politics and Faroese society more broadly – and undoubtedly also about many other things. </p>
{{ end }}