{{ define "main" }}
<h2>Education</h2>
<div class="cv-row">
  <div class="cv-year">2022–</div>
  <div class="cv-item">PhD in International Politics<br><em>University of the Faroe Islands</em></div>
</div>

<h2>Positions</h2>
<div class="cv-row">
  <div class="cv-year">2023–</div>
  <div class="cv-item">Lecturer, MA in International Relations<br><em>University of the Faroe Islands</em></div>
</div>
<div class="cv-row">
  <div class="cv-year">2024–</div>
  <div class="cv-item">Director, Faroese Centre for International Affairs</div>
</div>

<h2>Selected Presentations</h2>
<div class="cv-row">
  <div class="cv-year">2025</div>
  <div class="cv-item">Konrad-Adenauer-Stiftung Nordic Autumn Security Conference<br><em>Stockholm</em></div>
</div>
<div class="cv-row">
  <div class="cv-year">2025</div>
  <div class="cv-item">Arctic Circle Assembly<br><em>Reykjavík</em></div>
</div>

<h2>Languages</h2>
<div class="cv-row">
  <div class="cv-year"></div>
  <div class="cv-item">Faroese, Danish, English, Russian</div>
</div>
{{ end }}