{{ define "main" }}
<p> My use of social media varies, but when I am active, it is mostly on Facebook – sometimes on Instagram and LinkedIn. <p> Your best bet is to catch me on my email – <a href="mailto:tormw@setur.fo">tormw@setur.fo</a> – which I check every day. <p> Do feel free to check out my socials and academic profiles though:</p>

<p style="font-size: 24px; margin-top: 3.5rem;">  <a href="https://www.facebook.com/tormarniweihe/" target="_blank">Facebook</a>
  <span style="color: var(--rule); margin: 0 0.6rem;">|</span>
  <a href="https://fo.linkedin.com/in/tór-marni-weihe-8ba596b0" target="_blank">LinkedIn</a>
  <span style="color: var(--rule); margin: 0 0.6rem;">|</span>
  <a href="https://orcid.org/0000-0002-7440-4898" target="_blank">ORCID</a>
  <span style="color: var(--rule); margin: 0 0.6rem;">|</span>
  <a href="https://www.pure.fo/en/persons/tór-marni-weihe/" target="_blank">Pure</a>
</p>
{{ end }}